body{
    height: 100vh;
    width: 100vw;
    overflow: none;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

p{
    font-size: 15px;
}

h3, h2{
    color: rgb(255, 255, 255);
}

#custom-popup{
    background-color: #c1cf3e;
    position: absolute;
    top: 8px;
    right: 30px;
    left: 30px;
    padding: 16px 24px;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
}

#custom-popup > p{
    color:rgb(6, 90, 10);
    font-size: 20px;
    font-weight: 700;
}

.container{
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction:row;
    gap: 5px;
}

.text-animator-container{
    height: 100%;
    width: 70%;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

#text-el{
    font-size: 1.5em;
    background-color: white;
    padding: 4px;
}

.stage-title{
    position: absolute;
    top: 0px;

}

.settings-container{
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    width: 40%;
    background: rgb(42, 95, 97);
    box-sizing: border-box;
}

textarea{
    padding: 8px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    margin-bottom: 16px;
}

select{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 32px;
}

button{
    background:white;
    padding: 8px 16px 8px 16px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    color: green;
    border-color: green;
    font-weight: 700;
}


